[Unit]
After=network.target postgresql.service
Description=Puma

# Requires=puma.socket

[Service]
Type=notify
User=feedspin
Group=feedspin
WorkingDirectory=/home/feedspin/feedspin
EnvironmentFile=/etc/environment

Environment=SOLID_QUEUE_IN_PUMA=1

ExecStart=/home/feedspin/.rbenv/shims/bundle exec puma

Restart=always
TimeoutStopSec=30
WatchdogSec=10

[Install]
WantedBy=multi-user.target
